
.containerCarousel {
  width: 100%;
  overflow:hidden;
  margin: 0;
}
.figure-carousel {
  margin: 0;
  object-fit: scale-down;
}
 .figure-carousel img {
  width: 100%;
}
.slider {
  width: 100%;
}
.slick-dots{
  position: relative;
  top:5px;
}